
#myPage_frame{
    border: 1px solid black;
    text-align: center;
    margin: auto;
    clear: both;
    width: 1200px;
    height: 1500px;
    
}
#search_Bar {
    border: 1px solid black;
    width: 1200px;
    height: 100px;
    margin-top: 30px;
}
#menu_bar {
    border: 1px solid black;
    width: 1200px;
    height: 60px;
    margin-top: 20px;
}
#myPage_option {
    margin-top: 15px;
}

#menu_side {
    border: 1px solid black;
    width: 250px;
    height: 700px;
    float: left;
}


#user_grade{
    border: 1px solid pink;
    widows: 1200px;
    height: 100px;
    
    
}
#cash_charge {
    border: 1px solid pink;
    widows: 1200px;
    height: 100px;
 
}

#cash_list {
    border: 1px solid pink;
    width: 1200px;
    height: 100px;
}

